<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fa-solid fa-house me-3"></i>
            <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
          <i class="fa-solid fa-calendar-days me-3"></i>
          <span class="menu-title">Events</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="error">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'event-list' %}"> Event List </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'my-events' %}"> My Event </a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <i class="fa-solid fa-user me-3"></i>
          <span class="menu-title">User Pages</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'sign-out' %}"> Signout </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'sign-in' %}"> Login </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'registration' %}"> Register </a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../documentation/documentation.html">
          <i class="fa-solid fa-book me-3"></i>
          <span class="menu-title">Documentation</span>
        </a>
      </li>
    </ul>
  </nav>